{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- the title -->
	<title>Greetings, Human!</title>

	<!-- favicon here -->

	<!-- then stylesheets -->
	<link href = "{% static 'style.css' %}" rel = "stylesheet" type = "text/css">
	<link	rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:100" />

</head>

<body>

	<header>Deepak Mishra's</header>

	<nav>
		<a class="fade" href="http://meta.dpkkmishra.me/">About</a>
		<a class="fade" href="http://blog.dpkkmishra.me/">Blogs</a>
		<a class="fade" href="http://cv.dpkkmishra.me/">C'vitæ</a>
		<a class="fade" href="http://labs.dpkkmishra.me/">Labs</a>
	</nav>

	<hr />

	<footer>
		<div>
			<a class="fade" href="https://www.facebook.com/fireflies.deepak">Facebook</a>
			•
			<a class="fade" href="http://twitter.com/dpkkmishra">Twitter</a>
			•
			<a class="fade" href="https://www.linkedin.com/profile/view?id=161879718">LinkedIn</a>
			•
			<a class="fade" href="http://github.com/dpkkmishra">GitHub</a>
		</div><h6 id="copyleft">
			<span>©</span>
			Copyleft: dpkkmishra &mdash;
			<a class="fade" href="http://old.dpkkmishra.me/">All Wrongs Preserved</a>
		</h6>
	</footer>

	<script>
	// Google Analytics
	//var _gaq = [["_setAccount", "UA-32207720-2"], ["_trackPageview"]];

	//(function() {
	//	var ga = document.createElement('script');
	//	ga.async = true;
	//	ga.src = "../www.google-analytics.com/ga.js";
	//	var s = document.getElementsByTagName('script')[0];
	//	s.parentNode.insertBefore(ga, s);
	//})();
	</script>

</body>

</html>
